
body {
	background-color: #ADBBDA;
}

h1, h2, h3, p {
	color: #3D52A0;
	text-align: center;
}

div{
  height:auto;
  width: 900px;
  margin: 0 auto;
  border-radius: 8%;
  background-color: #8697C4;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
}
img {
  height: auto;
  width: 600px;
  border-radius: 8%;
}
.pfp {
  height: auto;
  width: 200px;
  border-radius: 8%;
}
a{
  text-decoration: none;
  color: #3D52A0;
	text-align: center;
}



