/*Structural*/
body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background: url(images/tree.png);
    background-size: contain;
    color: #261C14;
    padding:0px;
    align-content: center;
}
#main-div {
    background-color: rgba(88, 115, 31, 0.7);
    border-radius: 15px;
    border-color: #4E5925;
    border-width: 5px;
    border-style: solid;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin:0;

}
main {
    flex: 1;
}
table {
    border-collapse: collapse;
    margin: 10px;
    border-radius: 5px;
}
table, th, td {
    border: 1px solid;
    background-color: #59543B;
    text-align: center;
    color:#e3dfdf;
    padding: 8px;

}
header {
    margin: 0%;
    padding-left: 5px;
    font-size: larger;
}
img {
    border-radius: 15px;
    border: 5px solid;
    padding: 3px;
}

.container {
    margin:15px;
}
footer {
    padding-left: 5px;
}
/*Navigation*/


/*Typography*/
p {
    color:#e3dfdf;
    margin:5px;
    margin-bottom: 10px;
}
h2 {
    margin-top: 10px;
    margin:5px;
}
a {
    text-decoration: none;
    color: #261C14;
}

#homeButton {
    background-color: #4E5925;
    width:60px;
    height: 35px;
    padding: 7px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:0px;
}