/* Structural */
body {
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
}

.img-div img {
    max-width: 100%;
}

#logo-and-title h1 {
    font-size: 1.5rem;
    margin: 10px;
    font-family: 'Times New Roman', Times, serif;
}

#main-nav {
    width:100%;
    align-items: center;
}

#text-content-div {
    padding:35px;
}

#text-box {
    padding: 30px;
    font-weight: 700;
}

#text-box h2 {
    font-family: 'Times New Roman', Times, serif;
    color:rgb(117,0,9);
}

#main-nav div {
    margin-right:10px;
    margin-left: 10px;
}

.content-div .box {
    max-width: 375px;
    align-items: center;
    justify-content: center;
    margin:10px;
}

.content-div .box h3 {
    color:rgb(117,0,9)
}

.box {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#socials {
    display: flex;
}

#stay-conn {
    
}

#stay-conn p {
    font-weight: lighter;
    color:black
}

#stay-conn a p {
    font-weight: bold;
    color:rgb(117,0,9);
    text-decoration: underline;
}

#stay-conn-links {
    width: fit-content;
    margin:auto;
    border-top: 0.5px solid black; 
    border-bottom: 0.5px solid black; 
}

#stay-conn-links {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.content-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding:20px;
}

.content-div #smiling-pic {
    border-radius: 50%;
}

#main-header, #main-header a {
    background-color: black;
    color:white;
}

#main-nav icon {
    padding:0;
}


#main-nav, #main-nav a, #main-footer, #main-footer a,
#edu-div, #research-div, #cent-and-inst-div {
    background-color: rgb(117,0,9);
    color:white;
}

#edu-div, #research-div, #cent-and-inst-div {
    padding:40px;
    margin-top: -100px;
    position: relative;
    z-index: 1;
}

#main-nav, #top-nav {
    display:none;
}

.top-nav-btn {
    margin: 5px;
}

#main-header {
    display: flex;
}

#search {
    margin:10px;
    margin-left: auto;
}
#stay-conn {
    color:rgb(117,0,9);
    font-weight: bold;
    display: grid;
    place-items: center;
    background-color: rgb(237, 237, 237);
    width: 100%;
    padding:5px;
}

#stay-conn-header {
    display: flex;
    flex-direction: column;
    align-items: center;

}

#stay-conn-footer .box ul li {
    margin-bottom: 8px;
}

#coll-links, #off-links, #tool-links {
    border-top: 1px solid white;
    display:flex;
    flex-wrap: wrap;
    
}

#main-footer {
    padding: 10px;

}

.blck-btn {
    border: 2px solid white;
    background-color: black;
    width: fit-content;
    padding-left: 30px;
    padding-right:30px;
    color:white;
}

#socials {
    justify-content: center;
    align-items: center;
    padding:10px;
}

.red-btn {
    background-color: rgb(117,0,9);
    color:white;
    width: fit-content;
    padding-left: 25px;
    padding-right: 25px;
    border: 2px solid white;
    margin:5px;
}

.icon {
    border-radius: 25%;
    padding: 10px;
}

#foot-header {
    display: grid;
    align-items: center;
    justify-content: center;
   
}

#foot-header .icon {
    border-radius: 50%;
}

.buttons {
    display: flex;
}


#coll-and-schools, #offices-and-divs, #tools {
    margin: 10px;
}

#bottom-footer {
    display:flex;
    text-decoration: none;
    background-color: black;
    justify-content: space-between;
}

#bottom-footer a {
    color: white;
}

/* Hover states */
.blck-btn:hover {
    background-color: white;
    color: rgb(117,0,9);
}

.red-btn:hover {
    background-color: white;
    color: rgb(117,0,9);
}

#main-nav a:hover, #top-nav a:hover {
    text-decoration: underline;
}

.content-div .box:hover h3 {
    text-decoration: underline;
}

/* Navigation */


/* Typography */
a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
}

#text-box p {
    color:rgb(55, 56, 63);
}

.content-div h2 {
    color:rgb(20 21 26);
}



/* Responsive Design */
@media(min-width:1000px) {
    .column {
        display: flex;
    }

    .content-div {
        display: flex;
    }

    #main-nav {
        justify-content: flex-end;
    }

    #edu-div {
        max-width: 650px;
        margin-left: auto;
        margin-top: -230px;
    }

    #research-div, #cent-and-inst-div {
        max-width: 650px;
        margin-right: auto;
        margin-top: -230px;
    }

    #main-nav, #top-nav {
        display: flex;
    }

    #logo-and-title {
        justify-content: space-between;
        align-items: center;
        padding: 15px;
    }
    
    #search {
        display:none;
    }

    #main-header {
        display: block;
    }

    #foot-header {
        justify-content: space-between;
    }

    #foot-links {
        display: flex;
    }

    #coll-links, #off-links, #tool-links {
        display:flex;
        
    }

    #coll-and-schools {
        flex:3;
    }

    #offices-and-divs {
        flex:2;
    }

    #tools {
        flex:1;
    }

    .coll-sub-div {
        flex: 1;
    }
}